/* [project]/app/privacy-policy/styles.module.scss.module.css [app-client] (css) */
.styles-module-scss-module__vt3Aia__terms {
  z-index: 0;
  background-color: #fff;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 30rem;
  font-family: Montserrat, sans-serif;
  display: flex;
  position: relative;
}

.styles-module-scss-module__vt3Aia__header {
  width: 100%;
  height: 100%;
}

.styles-module-scss-module__vt3Aia__container {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding-inline: 20rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__container {
    width: 1200rem;
    padding-inline: calc(var(--spacing, .25rem) * 0);
  }
}

@media screen and (min-width: 1920px) {
  .styles-module-scss-module__vt3Aia__container {
    width: 1200px;
  }
}

.styles-module-scss-module__vt3Aia__header__content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 20rem;
  padding-bottom: 30rem;
  display: flex;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__header__content {
    padding-top: 30rem;
    padding-bottom: 40rem;
  }
}

@media screen and (min-width: 1920px) {
  .styles-module-scss-module__vt3Aia__header__content {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.styles-module-scss-module__vt3Aia__logo {
  width: 120rem;
  height: 24rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__logo {
    width: 211rem;
    height: 43rem;
  }
}

.styles-module-scss-module__vt3Aia__phone {
  border-style: var(--tw-border-style);
  --tw-font-weight: var(--font-weight-medium, 500);
  width: 45rem;
  height: 45rem;
  font-size: 0;
  font-weight: var(--font-weight-medium, 500);
  color: #0000000;
  border-width: 1rem;
  border-color: #000;
  border-radius: 3.40282e38px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 2rem 10rem #000000b3;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__phone {
    width: 182rem;
    height: 45rem;
    font-size: 17rem;
  }

  @media (hover: hover) {
    .styles-module-scss-module__vt3Aia__phone:hover {
      cursor: pointer;
    }
  }

  .styles-module-scss-module__vt3Aia__phone {
    box-shadow: none;
  }
}

@media screen and (min-width: 1920px) {
  .styles-module-scss-module__vt3Aia__phone {
    width: 182px;
    height: 45px;
    font-size: 17px;
  }
}

.styles-module-scss-module__vt3Aia__terms__content {
  width: 100%;
  height: 100%;
  color: var(--color-black, #000);
}

.styles-module-scss-module__vt3Aia__headLine__title {
  --tw-font-weight: var(--font-weight-bold, 700);
  font-size: 14rem;
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 10rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__headLine__title {
    font-size: 18rem;
  }
}

@media screen and (min-width: 1920px) {
  .styles-module-scss-module__vt3Aia__headLine__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.styles-module-scss-module__vt3Aia__title {
  --tw-font-weight: var(--font-weight-bold, 700);
  font-size: 14rem;
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 10rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__title {
    font-size: 16rem;
  }
}

@media screen and (min-width: 1920px) {
  .styles-module-scss-module__vt3Aia__title {
    font-size: 16px;
  }
}

.styles-module-scss-module__vt3Aia__description {
  --tw-leading: 120%;
  --tw-font-weight: var(--font-weight-medium, 500);
  font-size: 12rem;
  line-height: 120%;
  font-weight: var(--font-weight-medium, 500);
  margin-bottom: 10rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__vt3Aia__description {
    font-size: 14rem;
  }
}

@media screen and (min-width: 1920px) {
  .styles-module-scss-module__vt3Aia__description {
    font-size: 14px;
  }
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=app_privacy-policy_styles_module_scss_module_css_bad6b30c._.single.css.map*/