/* [project]/app/components/hero-form/styles.module.scss.module.css [app-client] (css) */
.styles-module-scss-module__J3jfTa__section {
  top: calc(var(--spacing, .25rem) * 0);
  left: calc(var(--spacing, .25rem) * 0);
  z-index: 0;
  background-color: #fff3;
  background-color: lab(100% -.0000298023 .0000119209 / .2);
  width: 100%;
  height: 100dvh;
  position: fixed;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__section {
    top: calc(var(--spacing, .25rem) * 0);
    left: calc(var(--spacing, .25rem) * 0);
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

.styles-module-scss-module__J3jfTa__close__btn {
  z-index: 6;
  --tw-translate-x: calc(var(--spacing, .25rem) * 0);
  --tw-translate-y: calc(var(--spacing, .25rem) * 0);
  translate: var(--tw-translate-x) var(--tw-translate-y);
  position: absolute;
  top: 20rem;
  right: 20rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__close__btn {
    top: -44rem;
    right: calc(var(--spacing, .25rem) * 0);
    z-index: 6;
    --tw-translate-x: calc(var(--spacing, .25rem) * 0);
    --tw-translate-y: calc(var(--spacing, .25rem) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
    position: absolute;
  }

  @media (hover: hover) {
    .styles-module-scss-module__J3jfTa__close__btn:hover {
      cursor: pointer;
    }
  }
}

.styles-module-scss-module__J3jfTa__inner {
  z-index: 5;
  --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
  --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
  width: 380rem;
  height: auto;
  translate: var(--tw-translate-x) var(--tw-translate-y);
  background-color: var(--color-white, #fff);
  padding: calc(var(--spacing, .25rem) * 0);
  flex-direction: column;
  gap: 20rem;
  padding-bottom: 34rem;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__inner {
    z-index: 5;
    --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
    --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
    width: 1440rem;
    height: auto;
    translate: var(--tw-translate-x) var(--tw-translate-y);
    background-color: var(--color-white, #fff);
    flex-direction: row;
    gap: 55rem;
    padding: 50rem;
    position: relative;
    top: 50%;
    left: 50%;
  }
}

.styles-module-scss-module__J3jfTa__inner__image_mobile {
  z-index: 0;
  width: 100%;
  height: 324rem;
  display: inline-block;
  position: relative;
}

@media (min-width: 40rem) {
  .styles-module-scss-module__J3jfTa__inner__image_mobile {
    display: none;
  }
}

.styles-module-scss-module__J3jfTa__inner__image {
  display: none;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__inner__image {
    width: 600rem;
    height: 610rem;
    display: inline-block;
    position: relative;
  }

  .styles-module-scss-module__J3jfTa__inner__content {
    width: 685rem;
    height: 600rem;
  }
}

.styles-module-scss-module__J3jfTa__content__title_mobile {
  top: 202rem;
  left: calc(var(--spacing, .25rem) * 0);
  z-index: 2;
  --tw-leading: 103%;
  --tw-tracking: calc(1.5rem * -1);
  letter-spacing: -1.5rem;
  width: 100%;
  color: var(--color-black, #000);
  margin-left: 30rem;
  font-size: 30rem;
  line-height: 103%;
  display: inline-block;
  position: absolute;
}

@media (min-width: 40rem) {
  .styles-module-scss-module__J3jfTa__content__title_mobile {
    display: none;
  }
}

.styles-module-scss-module__J3jfTa__content__title {
  display: none;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__content__title {
    --tw-leading: 110%;
    --tw-tracking: calc(3rem * -1);
    letter-spacing: -3rem;
    color: var(--color-black, #000);
    text-transform: uppercase;
    font-size: 60rem;
    line-height: 110%;
    display: inline-block;
  }
}

.styles-module-scss-module__J3jfTa__content__subtitle {
  display: none;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__content__subtitle {
    text-align: center;
    --tw-leading: 110%;
    --tw-tracking: calc(3rem * -1);
    letter-spacing: -3rem;
    color: var(--color-black, #000);
    text-transform: uppercase;
    margin-left: 170rem;
    font-size: 60rem;
    line-height: 110%;
    display: inline-block;
  }
}

.styles-module-scss-module__J3jfTa__form__submit {
  z-index: 3;
  flex-direction: column;
  align-items: center;
  gap: 14rem;
  width: 100%;
  margin-top: -20rem;
  padding-inline: 30rem;
  display: flex;
  position: relative;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__form__submit {
    width: 100%;
    padding-inline: calc(var(--spacing, .25rem) * 0);
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20rem;
    display: flex;
  }
}

.styles-module-scss-module__J3jfTa__form__submit input {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color: var(--color-black, #000);
  padding-block: 20rem;
  color: #7d7f80;
  background-color: #faf9f8;
  width: 100%;
  padding-left: 40rem;
  font-size: 16rem;
}

.styles-module-scss-module__J3jfTa__form__submit input::placeholder {
  color: #7d7f80;
  font-size: 16rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__form__submit input {
    padding-block: 20rem;
    color: #7d7f80;
    background-color: #faf9f8;
    width: 100%;
    padding-left: 60rem;
    font-size: 18rem;
  }

  .styles-module-scss-module__J3jfTa__form__submit input::placeholder {
    font-size: 18rem;
  }
}

.styles-module-scss-module__J3jfTa__phone__input {
  z-index: 3;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color: var(--color-black, #000);
  width: 100%;
  padding: calc(var(--spacing, .25rem) * 0);
  background-color: #faf9f8;
  position: relative;
}

.styles-module-scss-module__J3jfTa__phone__input:before {
  content: "";
  z-index: 4;
  background: #000;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 48rem;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__phone__input {
    width: 100%;
    height: 40px;
  }
}

.styles-module-scss-module__J3jfTa__offer__btn {
  --tw-leading: 100%;
  width: 100%;
  height: 57rem;
  color: var(--color-white, #fff);
  background-color: #667761;
  border-radius: 3.40282e38px;
  justify-content: flex-end;
  align-items: center;
  gap: 10rem;
  margin-top: 12rem;
  padding-right: 8rem;
  font-size: 16rem;
  line-height: 100%;
  display: flex;
}

.styles-module-scss-module__J3jfTa__offer__btn .styles-module-scss-module__J3jfTa__span__text {
  text-align: end;
}

@media screen and (min-width: 640px) {
  .styles-module-scss-module__J3jfTa__offer__btn {
    cursor: pointer;
    --tw-leading: 100%;
    width: 532rem;
    height: 80rem;
    color: var(--color-white, #fff);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(.4, 0, .2, 1)));
    transition-duration: var(--tw-duration, var(--default-transition-duration, .15s));
    --tw-duration: .2s;
    background-color: #667761;
    border-radius: 3.40282e38px;
    justify-content: flex-end;
    align-items: center;
    gap: 20rem;
    margin-top: 20rem;
    padding-right: 10rem;
    font-size: 26rem;
    line-height: 100%;
    transition-duration: .2s;
    display: flex;
  }

  @media (hover: hover) {
    .styles-module-scss-module__J3jfTa__offer__btn:hover {
      --tw-scale-x: 105%;
      --tw-scale-y: 105%;
      --tw-scale-z: 105%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }

  .styles-module-scss-module__J3jfTa__offer__btn:disabled {
    cursor: default;
  }

  @media (hover: hover) {
    .styles-module-scss-module__J3jfTa__offer__btn:disabled:hover {
      --tw-scale-x: 100%;
      --tw-scale-y: 100%;
      --tw-scale-z: 100%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

/*# sourceMappingURL=app_components_hero-form_styles_module_scss_module_css_bad6b30c._.single.css.map*/