/* [project]/app/components/desktop-brown-section/comercial/styles.module.scss.module.css [app-client] (css) */
.styles-module-scss-module__2u-pya__section {
  z-index: 0;
  width: 100%;
  height: auto;
  position: relative;
}

.styles-module-scss-module__2u-pya__wrapper {
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
}

.styles-module-scss-module__2u-pya__inner {
  gap: 74rem;
  width: 1340rem;
  height: 100%;
  padding-top: 198rem;
  display: flex;
}

.styles-module-scss-module__2u-pya__rightside__line {
  background-color: #fff;
  width: 340rem;
  height: auto;
}

.styles-module-scss-module__2u-pya__inner__header {
  flex-direction: column;
  display: flex;
}

.styles-module-scss-module__2u-pya__inner__image {
  z-index: 0;
  width: 650rem;
  height: 592rem;
  display: inline-block;
  position: relative;
}

.styles-module-scss-module__2u-pya__head__content {
  flex-direction: column;
  display: flex;
}

.styles-module-scss-module__2u-pya__title__text {
  --tw-leading: 100%;
  color: var(--color-white, #fff);
  margin-top: -6rem;
  font-size: 60rem;
  line-height: 100%;
}

.styles-module-scss-module__2u-pya__description__text {
  --tw-leading: 118%;
  color: var(--color-white, #fff);
  margin-top: 15rem;
  font-size: 26rem;
  line-height: 118%;
}

.styles-module-scss-module__2u-pya__content {
  flex-direction: column;
  margin-top: 103rem;
  margin-left: 4rem;
  display: flex;
}

.styles-module-scss-module__2u-pya__rightside__image {
  top: calc(var(--spacing, .25rem) * 0);
  z-index: 1;
  margin-inline: auto;
  --tw-translate-x: calc(var(--spacing, .25rem) * 0);
  --tw-translate-y: calc(var(--spacing, .25rem) * 0);
  width: 322rem;
  height: 288rem;
  translate: var(--tw-translate-x) var(--tw-translate-y);
  margin-top: 180rem;
  position: relative;
  left: 14rem;
}

.styles-module-scss-module__2u-pya__inner__list_item {
  border-bottom-style: var(--tw-border-style);
  border-color: #5a4c45;
  border-bottom-width: 2rem;
  gap: 78rem;
  width: 100%;
  padding-block: 25rem;
  display: flex;
}

.styles-module-scss-module__2u-pya__item__text {
  --tw-leading: 117%;
  color: var(--color-white, #fff);
  font-size: 26rem;
  line-height: 117%;
}

.styles-module-scss-module__2u-pya__offer__btn {
  --tw-leading: 100%;
  width: 100%;
  height: 80rem;
  color: var(--color-white, #fff);
  background-color: #667761;
  border-radius: 3.40282e38px;
  justify-content: flex-end;
  align-items: center;
  gap: 20rem;
  margin-top: 43rem;
  padding-right: 8rem;
  font-size: 26rem;
  line-height: 100%;
  display: flex;
}

.styles-module-scss-module__2u-pya__offer__btn .styles-module-scss-module__2u-pya__span__text {
  text-align: end;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

/*# sourceMappingURL=b6282_desktop-brown-section_comercial_styles_module_scss_module_css_bad6b30c._.single.css.map*/